<div>
  <div class="form-group section">
    <div id="datepicker"></div>
  </div>

  <div class="event-editor section">
    <div id="event-timepicker"></div>
    <div class="form-group">
      <input type="text" class="form-control" id="event-title" placeholder="title"></input>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="event-description" rows="3" placeholder="optionally write a note"></textarea>
    </div>
    <button class="event-add btn btn-success btn-lg">Create event</button>
    <button class="event-edit btn btn-success btn-lg">Save event</button>
  </div>

  <div>
    <ul class="event-list">
    </ul>
  </div>
</div>
